<div class="main-container">
    <h3>MY CSV Home Page</h3>
    <div id="file-uploder">
        <form action="/csv/upload" enctype="multipart/form-data" method="POST">
            <input type="file" name="csvfile" accept=".csv, text/csv" placeholder="Upload CSV File" />
            <input type="submit" value="Upload" class="btn" />
        </form>
        <br>
        <% if(locals.message) { %>
            <p>
                <%=message%>
            </p>
            <% } %>
    </div>
</div>